@import "master/reset";

html, body
{
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas.stage
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
